<!DOCTYPE html>

<html lang="en">

    <head>

        <title>
            {% block title %}{% endblock %}
        </title>

        <!--Required meta data-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--https://getbootstrap.com/docs/4.1/getting-started/introduction/-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="/static/styles/styles.css" rel="stylesheet">

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="jumbotron">
                        <h1 class="display-4">RAINY</h1>
                        <h1 class="display-4">DAY</h1>
                        <p class="lead">Is it a rainy day today?</p>

                        <!--Display message if passed in-->
                        {% if message %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <br>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </body>

</html>
